{% load static %}

<!DOCTYPE html>
<html lang="en">
<!-- Basic -->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Site Metas -->
    <title>PlantPulse - Home</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Site Icons -->
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" type="{% static 'images/x-icon' %}">
    <link rel="apple-touch-icon" href="{% static 'images/apple-touch-icon.png' %}">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <!-- Site CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <!-- Responsive CSS -->
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
    <!-- Start Main Top -->
    <div class="main-top">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="right-phone-box">
                        <p>Call US :- <a href="#">+91 XXX XXX XXXX</a></p>
                    </div>
                    <div class="our-link">
                        {% if user.is_authenticated %}
                        <ul>
                            <li><a href="#"><i class="fa fa-user s_color"></i> My Account</a></li>
                            <li><a href="{% url 'contact' %}"><i class="fas fa-headset"></i> Contact Us</a></li>
                        </ul>
                        {% else %}
                        <ul>
                            <li><a href="{% url 'contact' %}"><i class="fas fa-headset"></i> Contact Us</a></li>
                        </ul>
                        {% endif %}
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="login-box">
                        {% if user.is_authenticated %}
                        <a href="{% url 'my-account' %}" class="btn btn-primary">Welcome {{ user.username }} </a>
                        {% else %}
                        <a href="{% url 'auth' %}" class="btn btn-primary">Register / Sign In</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Main Top -->

    <!-- Start Main Top -->
    <header class="main-header">
        <!-- Start Navigation -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-default bootsnav">

            <div class="container">
                <!-- Start Header Navigation -->
                <div class="navbar-header">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-menu"
                        aria-controls="navbars-rs-food" aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fa fa-bars"></i>
                    </button>
                    <a class="navbar-brand" href="{% url 'index' %}">
                        <img src="{% static 'images/newlogo.png' %}" class="logo" alt="">
                    </a>
                </div>
                <!-- End Header Navigation -->

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="navbar-menu">
                    <ul class="nav navbar-nav ml-auto d-flex align-items-center" data-in="fadeInDown"
                        data-out="fadeOutUp">
                        <li class="nav-item active"><a class="nav-link" href="{% url 'index' %}">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'model' %}">Predict</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'about' %}">About Us</a></li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle"
                                href="{% if not user.is_authenticated %}{% url 'shop-detail' %}{% else %} {% url 'shop-detail' %} {% endif %}"
                                id="shopDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false">
                                SHOP
                            </a>
                            {% if user.is_authenticated %}
                            <ul class="dropdown-menu" aria-labelledby="shopDropdown">
                                <li><a class="dropdown-item" href="{% url 'cart' %}">Cart</a></li>
                                <li><a class="dropdown-item" href="{% url 'checkout' %}">Checkout</a></li>
                                <li><a class="dropdown-item" href="{% url 'my-account' %}">My Account</a></li>
                            </ul>
                            {% endif %}
                        </li>

                        <li class="nav-item"><a class="nav-link" href="{% url 'gallery' %}">Gallery</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'contact' %}">Contact Us</a></li>

                        {% if user.is_authenticated %}
                        <!-- Cart option before Logout -->
                        <li class="side-menu">
                            <a href="{% url 'cart' %}">
                                <p>My Cart</p>
                                <i class="fa fa-shopping-bag"></i>
                                <span class="badge cart-items-count">{{ cart_items_count }}</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'logout' %}" class="btn btn-primary ml-3">Logout</a>
                        </li>
                        {% endif %}
                    </ul>
                </div>

        </nav>
        <!-- End Navigation -->
    </header>

    <!-- End Main Top -->

    <!-- Start Top Search -->
    <div class="top-search">
        <div class="container">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-search"></i></span>
                <input type="text" class="form-control" placeholder="Search">
                <span class="input-group-addon close-search"><i class="fa fa-times"></i></span>
            </div><!-- Start Categories  -->
            <div class="categories-shop">
                <div class="container">
                    <!-- Adding a title for the Categories section -->
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="title-all text-center">
                                <h1>Categories</h1> <!-- Added Categories heading -->
                            </div>
                        </div>
                    </div>

                    <div class="row special-list">
                        {% for p in products %}
                        <div class="col-lg-3 col-md-6 special-grid best-seller">
                            <div class="products-single fix">
                                <div class="box-img-hover">
                                    <img src="{{ p.image.url }}" class="img-fluid" alt="Image" >
                                </div>
                                <div class="why-text" style="text-align: center;" > <!-- Align text to center -->
                                    <h4>{{ p.title }}</h4>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- End Top Search -->

    <!-- Start Slider -->
    <div id="slides-shop" class="cover-slides">
        <ul class="slides-container">
            <li class="text-center">
                <img src="{% static 'images/banner-01.jpg' %}" alt="">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h1 class="m-b-20"><strong>Welcome To <br> PlantPulse</strong></h1>
                            <p class="m-b-40">See how farmers utilize PlantPulse to diagnose plant diseases and discover
                                insights that help enhance their experience and boost crop productivity over time.</p>
                            <p><a class="btn hvr-hover" href="{% url 'shop-detail' %}">Shop New</a></p>
                        </div>
                    </div>
                </div>
            </li>
            <li class="text-center">
                <img src="{% static 'images/banner-02.jpg' %}" alt="">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h1 class="m-b-20"><strong>Welcome To <br> PlantPulse</strong></h1>
                            <p class="m-b-40">See how your users experience your website in realtime or view <br> trends
                                to see any changes in performance over time.</p>
                            <p><a class="btn hvr-hover" href="#">Shop New</a></p>
                        </div>
                    </div>
                </div>
            </li>
            <li class="text-center">
                <img src="{% static 'images/banner-03.jpg' %}" alt="">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h1 class="m-b-20"><strong>Welcome To <br> PlantPulse</strong></h1>
                            <p class="m-b-40">See how your users experience your website in realtime or view <br> trends
                                to see any changes in performance over time.</p>
                            <p><a class="btn hvr-hover" href="#">Shop New</a></p>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
        <div class="slides-navigation">
            <a href="#" class="next"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
            <a href="#" class="prev"><i class="fa fa-angle-left" aria-hidden="true"></i></a>
        </div>
    </div>
    <!-- End Slider -->

    <!-- Start Categories  -->

    <div class="box-add-products">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="title-all text-center">
                        <h1>Products</h1>
                    </div>
                </div>
            </div>

    <div class="categories-shop">
        <div class="container">
            <div class="row">

                {% for p in products %}

                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="shop-cat-box">
                        <img class="img-fluid" src="{{ p.image.url }}" alt="Image" />
                        <a class="btn hvr-hover" href="{% url 'product-detail' p.pid %}">{{ p.title }}</a>
                    </div>
                </div>

                {% endfor %}
            </div>
        </div>
    </div>
    <!-- End Categories -->

    <div class="box-add-products">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="title-all text-center">
                        <h1>Vegetables</h1>
                    </div>
                </div>
            </div>

            <div class="row special-list">
                {% for v in vegetables %}
                <div class="col-lg-3 col-md-6 special-grid best-seller">
                    <div class="products-single fix">
                        <div class="box-img-hover">
                            <img src="{{ v.image.url }}" class="img-fluid" alt="Image">
                        </div>
                        <div class="why-text" style="text-align: center;"> <!-- Align text to center -->
                            <h4>{{ v.name }}</h4>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <!-- Start Products  -->
    <div class="products-box">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="title-all text-center">
                        <h1>Tomato Leaf Diseases</h1>
                    </div>
                </div>
            </div>

            <div class="row special-list">
                {% for d in diseases %}
                <div class="col-lg-3 col-md-6 special-grid best-seller">
                    <div class="products-single fix">
                        <div class="box-img-hover">
                            <img src="{{ d.image.url }}" class="img-fluid" alt="Image">
                        </div>
                        <div class="why-text" style="text-align: center;"> <!-- Align text to center -->
                            <h4>{{ d.name }}</h4>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>


    <!-- End Products  -->

    <!-- Start Blog  -->
    <!-- <div class="latest-blog">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="title-all text-center">
                        <h1>Latest Blog</h1>
                        <p>Dedicated to growth, PlantPulse brings precision and simplicity to agriculture, empowering
                            farmers to cultivate healthier crops with ease.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-lg-4 col-xl-4">
                    <div class="blog-box">
                        <div class="blog-img">
                            <img class="img-fluid" src="{% static 'images/blog-img.jpg' %}" alt="" />
                        </div>
                        <div class="blog-content">
                            <div class="title-blog">
                                <h3>Grow with ease and resilience.</h3>
                                <p>Grow with confidence using PlantPulse. Access easy disease diagnosis, practical
                                    farming insights, and a supportive marketplace to enhance your agricultural
                                    practices. Our tools are designed to empower you every step of the way.</p>
                            </div>
                            
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 col-xl-4">
                    <div class="blog-box">
                        <div class="blog-img">
                            <img class="img-fluid" src="{% static 'images/blog-img-01.jpg' %}" alt="" />
                        </div>
                        <div class="blog-content">
                            <div class="title-blog">
                                <h3>Thrive with confidence and adaptability</h3>
                                <p>Grow with confidence using PlantPulse. Access easy disease diagnosis, practical
                                    farming insights, and a supportive marketplace to enhance your agricultural
                                    practices. Our tools are designed to empower you every step of the way.</p>
                            </div>
                            
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 col-xl-4">
                    <div class="blog-box">
                        <div class="blog-img">
                            <img class="img-fluid" src="{% static 'images/blog-img-02.jpg' %}" alt="" />
                        </div>
                        <div class="blog-content">
                            <div class="title-blog">
                                <h3>Progress steadily and with assurance.</h3>
                                <p>Grow with confidence using PlantPulse. Access easy disease diagnosis, practical
                                    farming insights, and a supportive marketplace to enhance your agricultural
                                    practices. Our tools are designed to empower you every step of the way.</p>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
    <!-- End Blog  -->


     <!-- Start Instagram Feed  -->
     <div class="instagram-box">
        <div class="main-instagram owl-carousel owl-theme">
            <div class="item">
                <div class="ins-inner-box">
                    <img src="{% static 'images/instagram-img-01.jpg' %}" alt="" />
                </div>
            </div>
            <div class="item">
                <div class="ins-inner-box">
                    <img src="{% static 'images/instagram-img-02.jpg' %}" alt="" />
                </div>
            </div>
            <div class="item">
                <div class="ins-inner-box">
                    <img src="{% static 'images/instagram-img-03.jpg' %}" alt="" />
                </div>
            </div>
            <div class="item">
                <div class="ins-inner-box">
                    <img src="{% static 'images/instagram-img-04.jpg' %}" alt="" />
                </div>
            </div>
            <div class="item">
                <div class="ins-inner-box">
                    <img src="{% static 'images/instagram-img-05.jpg' %}" alt="" />
                </div>
            </div>
            <div class="item">
                <div class="ins-inner-box">
                    <img src="{% static 'images/instagram-img-06.jpg' %}" alt="" />
                </div>
            </div>
            <div class="item">
                <div class="ins-inner-box">
                    <img src="{% static 'images/instagram-img-07.jpg' %}" alt="" />
                </div>
            </div>
            <div class="item">
                <div class="ins-inner-box">
                    <img src="{% static 'images/instagram-img-08.jpg' %}" alt="" />
                </div>
            </div>
            <div class="item">
                <div class="ins-inner-box">
                    <img src="{% static 'images/instagram-img-09.jpg' %}" alt="" />
                </div>
            </div>
            <div class="item">
                <div class="ins-inner-box">
                    <img src="{% static 'images/instagram-img-05.jpg' %}" alt="" />
                </div>
            </div>
        </div>
    </div>
    <!-- End Instagram Feed  -->


   <!-- Start Footer  -->
<footer>
    <div class="footer-main">
        <div class="container">
            <hr>
            <div class="row">
                <div class="col-lg-4 col-md-12 col-sm-12">
                    <div class="footer-widget">
                        <h4>About PlantPulse</h4>
                        <p>PlantPulse offers a fresh, convenient marketplace where you can buy and sell quality
                            tomatoes directly from trusted sources. Our platform connects farmers and buyers,
                            ensuring access to fresh produce while supporting sustainable agriculture. Shopping for
                            tomatoes with PlantPulse is quick, easy, and helps foster a healthier farming community.
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12 col-sm-12">
                    <div class="footer-link-contact">
                        <h4>Contact Us</h4>
                        <ul>
                            <li>
                                <p><i class="fas fa-map-marker-alt"></i>Address: PlantPulse Technologies <br> Office
                                    No. 12, 4th Floor <br>Tech Park One, Yerawada,<br>Pune, Maharashtra - 411006,
                                    India </p>
                            </li>
                            <li>
                                <p><i class="fas fa-phone-square"></i>Phone: <a href="tel:+1-888705770"> +91-98765 43210</a></p>
                            </li>
                            <li>
                                <p><i class="fas fa-envelope"></i>Email: <a
                                        href="mailto:contactinfo@gmail.com">support@plantpulse.in</a></p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- End Footer  -->


    <!-- Start copyright  -->
    <div class="footer-copyright">
        <p class="footer-company">All Rights Reserved. &copy; 2018 <a href="#">ThewayShop</a> Design By :
            <a href="https://html.design/">html design</a>
        </p>
    </div>
    <!-- End copyright  -->

    <a href="#" id="back-to-top" title="Back to top" style="display: none;">&uarr;</a>

    <!-- ALL JS FILES -->
    <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <!-- ALL PLUGINS -->
    <script src="{% static 'js/jquery.superslides.min.js' %}"></script>
    <script src="{% static 'js/bootstrap-select.js' %}"></script>
    <script src="{% static 'js/inewsticker.js' %}"></script>
    <script src="{% static 'js/bootsnav.js.' %}"></script>
    <script src="{% static 'js/images-loded.min.js' %}"></script>
    <script src="{% static 'js/isotope.min.js' %}"></script>
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/baguetteBox.min.js' %}"></script>
    <script src="{% static 'js/form-validator.min.js' %}"></script>
    <script src="{% static 'js/contact-form-script.js' %}"></script>
    <script src="{% static 'js/custom.js' %}"></script>
</body>

</html>
